body {
  text-align: center;
}

#start {
  width: 100px;
  height: 20px;
  margin-bottom: 30px;
  background: #ccc;
  outline: none; 
}

#field {
  text-align: center;
  font-size: 28px;
}


.move-input{
  border:1px solid black;
  margin-left: 10px;
  font-size: 20px;
  border-collapse: collapse;
  background: #ccc;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: center;
  width: 100px;
}